.bottle {
  min-width: 200px;
  box-shadow: 2px 2px 6px green;
  padding: 2rem;
  border-radius: 10px;
}
.badge {
  background-color: green;
  font-size: 10px;
}
.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bottle img {
  width: 200px;
}
.cart-btn {
  margin-top: 1rem;
  font-size: 12px;
  width: 50%;
  background-color: green;
}
